body{
    background: url("https://phonoteka.org/uploads/posts/2021-03/thumbs/1616696590_12-p-zadnii-fon-chernii-12.jpg");
}
.color_white{
    color: beige;
}

hr{
    border: none; /* Убираем границу для браузера Firefox */
    color: cyan; /* Цвет линии для остальных браузеров */
    background-color: cyan; /* Цвет линии для браузера Firefox и Opera */
    height: 5px; /* Толщина линии */
}
/*!* селектор уникальный *!*/
/*body{*/
/*    background-color: darkgoldenrod;*/
/*}*/

/*!* селектор тэга *!*/
/*h2{*/
/*    color: crimson;*/
/*}*/

/*!*селектор класса*!*/
/*.qwerty{*/
/*    color: cyan;*/
/*}*/